* {
  box-sizing: border-box;
}
#mssz-container {
  height: 80vh;
}
#input-container {
  text-align: center;
}
#input {
  height: 30px;
  width: 50%;
}
#btn {
  height: 30px;
}
.mszz_div_cls {
  padding: 10px;
  background-color: lightgrey;
  margin-bottom: 5px;
}
